.hide-scrollbar::-webkit-scrollbar {
    display: none;
  
  }
  
  .two-line-ellipsis {
    display: -webkit-box;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }
  

  @keyframes pulse {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  
  .pulse-animation {
    animation: pulse 1.5s infinite;
  }
  